.testimonial-img img {
    height: 130px;
    width: 130px !important;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #19f58b;
    padding: 5px;
    margin: 0 auto;
}

.icon-quotes {
    color: #19f58b;
    font-size: 24px;
    cursor: pointer;
    line-height: 1.3;
    margin: 0 auto;
}

.paragraph {
    font-weight: normal;
    line-height: 1.92;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
}

.testimonial-title {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.testimonial-owl .owl-nav button.owl-next,
.testimonial-owl .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    height: 8px;
    width: 8px;
    background: white;
    margin: 5px 10px;
    border-radius: 10px;
}

.testimonial-owl .owl-dots {
    margin-top: 40px !important;
    text-align: center;
}

.testimonial-owl button.owl-dot.active {
    background: #19f58b;
}