.mh-portfolio {
    margin: 0 auto;
}

.portfolio-nav {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-nav ul {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.portfolio-nav ul li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color:white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.portfolio-nav ul li:hover {
    color: #19f58b;
}

.portfolio-nav ul li.active {
    color: #19f58b;
}

.portfolio-nav ul li span {
    padding: 15px 0;
    border-bottom: 2px solid transparent;
}

.portfolio-nav ul li.current span {
    border-bottom: 2px solid #19f58b;
}

.grid-item figure {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.grid-item figure img {
    position: relative;
    width: 100%;
    display: block;
}

.grid-item figure figcaption {
    position: absolute;
    padding: 15px;
    height: 100%;
    width: 100%;
    top: auto;
    left: 0;
    color: white;
    bottom: 0;
    z-index: 10;
    transform: 0.5s;
    font-family: 'Poppins', sans-serif;
}

.grid-item figure figcaption:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
    transform: translateX(0) translateY(0) rotateZ(0) rotate(0deg) scale(0.95);
    opacity: 0;
}

.grid-item figure figcaption .fa {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 45%;
    transform: translateX(0) translateY(0) rotateZ(0) rotate(0deg) scale(1);
    opacity: 0;
}

figcaption .title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    text-transform: capitalize;
    top: 55%;
    transform: translateX(80px) translateY(0) rotateZ(0) rotate(0deg) scale(1);
    opacity: 0;
}

figcaption .sub-title {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    text-transform: capitalize;
    top: 55%;
    transform: translateX(-70px) translateY(0) rotateZ(0) rotate(0deg) scale(1);
    opacity: 0;
    transition: 0.5s;
}

.grid-item figure:hover {
    transform: all 0.4s ease-out;
}

.grid-item figure:hover figcaption {
    background: rgba(25, 245, 139, 0.450);
    color: white;
}

.grid-item figure:hover figcaption:after {
    opacity: 1;
    transform: translateX(0px) translateY(0) translatez(0) rotate(0deg) scale(1);
    transition: all 0.4s ease-out;
}

.grid-item figure:hover figcaption .fa {
    opacity: 1;
    transform: translateX(0px) translateY(0) translatez(0) rotate(0deg) scale(1);
    transition: all 0.4s ease-out;
    margin-bottom: 35px !important;
}

.grid-item figure:hover figcaption:after {
    opacity: 1;
    transform: translateX(0px) translateY(0) translatez(0) rotate(0deg) scale(1);
    transition: 0.2s;
}

.grid-item figure:hover figcaption .title {
    opacity: 1;
    transform: translateX(0px) translateY(0) translatez(0) rotate(0deg) scale(1);
    transition: 0.4s;
    margin-top: 2px;
    font-family: 'Poppins',sans-serif;
}

.grid-item figure:hover figcaption .sub-title {
    opacity: 1;
    transform: translateX(0px) translateY(0) translatez(0) rotate(0deg) scale(1);
    transition: 0.6s;
    margin-top: 20px;
    font-family: 'Poppins',sans-serif;
}