.about-heading .heading {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    display: inline-block;
    color: white;
    margin-top: -70px;
    margin-bottom: 40px;
}

/* Permet de centrer le titre et de cancel le bootstrap */
@media (min-width: 768px) {
    .offset-md-2 {
        margin-left: 1px;
    }
}

.about-heading .heading:before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: #19f58b;
    margin-bottom: 16px;
    margin-right: 20px;
}

.about-heading .heading:after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: #19f58b;
    margin-bottom: 16px;
    margin-left: 20px;
}

.production-box {
    color: white;
}

.production-box i {
    font-size: 65px !important;
    margin-bottom: 8px;
    transition: 0.5s ease,
}

.production-heading {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 12px;
    transition: 0.5s ease;
    color: #19f58b;
}

.production-heading:hover {
    color: white;
}

.production-des {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}