body {
    overflow: hidden;
}

/* Barre Nav Side Left */
a, a:hover{
    text-decoration: none;
}

.header-left {
    width: 90px;
    height: 100%;
    min-height: 100vh;
    float: left;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: inline-block;
    background: #404143;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.logo {
    width: 90px;
    height: 90px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #19f58b;
}

.logo-text {
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;

}

.sidemenu-btn {
    transition: all .3s linear;
    width: 36px;
    padding: 6px;
    position: relative;
    display: none;
    margin-right: 20px;
}

.sidemenu-btn span {
    height: 3px;
    width: 100%;
    background-color: white;
    display: block;
}

.sidemenu-btn span:nth-child(2) {
    margin: 4px 0;
}

.site-main-menu {
    list-style: none;
    position: relative;
    bottom: 0;
    transform:  translateY(10%);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 50px
}

.site-main-menu span {
    display: block;
}

.site-main-menu li>a {
    display: block;
    width: 100%;
    padding: 15px 5px;
    font-size: 13px;
    line-height: 1.2;
    color: #c8c8c8;
    font-family: 'Poppins', 'sans-serif';
    text-transform: uppercase;
    border-bottom: 1px solid #313439;
    position: relative;
}

.site-main-menu i {
    font-size: 25px;
}

.site-main-menu li.active>a {
    color: #19f58b;
}

#home {
    background-image: url(../images/banner.jpg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.site-main-menu li.active>a:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0;
    right: 0;
    background-color: #19f58b;
}

.site-main-menu li.active>a i {
    color: #19f58b;
}

#home,#about,#services,#portfolio,#clients,#contact {
    background-color: #404143 !important;
    height: 100vh;
}

.main-left {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-left: 90px;
}

.pt-page {
    width: 100%;
    height: 0;
    position: absolute;
    opacity: 0;
    top: auto;
    left: 0;
    display: flex;
    max-height: 100vh;
    align-items: center;
    background-color: white;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
}

.subpages {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1500px;
}

.pt-page-current {
    visibility: visible;
    z-index: 90;
    opacity: 1;
}

/* COLUMN MID IMAGE */
.image {
    left: 6%;
}

.image img {
    width: 70%;
    max-width: 340px;
    border: 6px solid white;
    border-radius: 5px;
}

/* COLUMN RIGHT SKILLS BAR */
.skills h5 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 3px 0 9px;
    margin-left: 35px;
}

.skills h5 span {
    float: right;
}

.progress {
    height: 8px;
    overflow: hidden;
    background-clip: #eee;
    margin-bottom: 35px;
    border-radius: 5px;
    margin-left: 35px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: #19f58b;
}